* {
    background: lightblue;
    align-self: center;
}

h1 {
    font-family: monospace;
    font-size: 32px;
}

h2 {
    font-family: sans-serif;
}

#userDropdown {
    visibility: hidden;
    width: 60%;
    border: solid black;
    border-width: 1px 1px;
}
#userDropdown td {
    text-align: center;
}
#newUser {
    background: lightslategray;
}
#newUser:hover {
    background: lightgreen;
}